#commandes {
  text-align: center;
}

#reserve {
  display: flex;
	flex-wrap: wrap;
  height: 70px;
}

#receptacle {
	display: flex;
	flex-wrap: wrap;
	height: 70px;
  width: 100%;
	position: relative;
  border: 1px solid black;
  background-color: lightblue;
}

.espace {
  display: block;
}

.draggable {
  display: block;
  justify-content: space-between;
  height: 1.5em;
  padding-left: 0.5%;
  padding-right: 0.5%;
  box-sizing: border-box;
  border: solid black 1px;
  background-color: white;
}

#reserve .draggable {
  margin-left: 1%;
}

.draggable:hover {
  cursor: pointer;
}
